# Sank Sounds keywords. Only stock cstrike/sound/radio files, so clients download nothing.
# Sank Sounds requires paths rooted at cstrike/, e.g. sound/radio/go.wav.
SND_MAX;		20
SND_MAX_DUR;		180.0
SND_WARN;		17
SND_JOIN;		sound/radio/locknload.wav
SND_EXIT;		sound/radio/getout.wav
SND_DELAY;		0.0
SND_MODE;		15
EXACT_MATCH;		1
ADMINS_ONLY;		0
DISPLAY_KEYWORDS;	1

go;			sound/radio/go.wav
bora;			sound/radio/letsgo.wav
vamos;			sound/radio/moveout.wav
morreu;			sound/radio/enemydown.wav
granada;		sound/radio/ct_fireinhole.wav
nao;			sound/radio/negative.wav
sim;			sound/radio/ct_affirm.wav
ok;			sound/radio/roger.wav
plantou;		sound/radio/bombpl.wav
desarmou;		sound/radio/bombdef.wav
ct venceu;		sound/radio/ctwin.wav
tr venceu;		sound/radio/terwin.wav
empate;			sound/radio/rounddraw.wav
