# Sank Sounds keywords. Only stock cstrike/sound/radio files, so clients download nothing.
# Add custom sounds under content/sound/ and list them here as <keyword>; <path relative to sound/>
SND_MAX;		20
SND_MAX_DUR;		180.0
SND_WARN;		17
SND_JOIN;		radio/locknload.wav
SND_EXIT;		radio/getout.wav
SND_DELAY;		0.0
SND_MODE;		15
EXACT_MATCH;		1
ADMINS_ONLY;		0
DISPLAY_KEYWORDS;	1

go;			radio/go.wav
bora;			radio/letsgo.wav
vamos;			radio/moveout.wav
morreu;			radio/enemydown.wav
granada;		radio/fireinhole.wav
nao;			radio/negative.wav
sim;			radio/affirm.wav
ok;			radio/roger.wav
plantou;		radio/bombpl.wav
desarmou;		radio/bombdef.wav
ct venceu;		radio/ctwin.wav
tr venceu;		radio/terwin.wav
empate;			radio/rounddraw.wav
